xcuserdata
project.xcworkspace
*.pbxproj
uSnap.us.xcodeproj/project.xcworkspace/
uSnap.us.xcworkspace/xcuserdata/owen.xcuserdatad/UserInterfaceState.xcuserstate
uSnap.us.xcodeproj/xcuserdata/owen.xcuserdatad/xcschemes/uSnap.xcscheme